PORT=8080
MONGO_URI=mongodb+srv://progresstracker:Thamizh2006@msthamizh.d0d2wqh.mongodb.net/?appName=Msthamizh
JWT_SECRET=2LY0x3yynte50LTJgIbNeYhDSThbrH1Lkzo9AAXCunyZ5QUuHbLQEA9u1ayl562CUQTnJKxYePEHddK74Vz+Kg==
FRONTEND_URL=https://campfacbook.netlify.app
CORS_ORIGINS=https://campfacbook.netlify.app,http://localhost:5173
